h2, h1{
    color:rgb(235, 215, 209)
    
}
body{
    background-color: rgb(210, 178, 218);
    font-family: 'Courier New', Courier, monospace;
}
#cor{
    background-color: rgb(226, 118, 17);
    background: fixed;
    width: 49%;
    text-align: justify;
    
    font-family: 'Courier New', Courier, monospace;
}

#nome{
    position: fixed;
}
#habilidades{
    border-radius: 
    width: ;
    margin-top: 2%;
}